/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 144em) {
}
/* Below 1440px (Smaller Desktops */
@media only screen and (max-width: 90em) {
}

/* Below 1200px (Landscape Tablets) */

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; /* 9px */
  }
}

/* Below 900px (Tablets) */

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; /* 8px */
  }
}

/*  Mobile-nav   */

/* .mobile-nav {
  width: 0%;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  background-color: #fff;
  top: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.3s;
} */
