/* Header */

.header {
  height: 13.3rem;
  background-color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  gap: 2.4rem;
  box-sizing: content-box;
}

/* .sticky {
  position: sticky;
  top: 0;
  z-index: 999;
} */

.main-nav a {
  height: 2.4rem;
  color: #8a94a6;
  font-weight: 600;
  font-size: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.main-nav a img {
  width: 1.2rem;
  height: 0.6rem;
  padding-top: 6.3rem;
  padding-bottom: 6.4rem;
  /* border: 0.2rem rgba(138, 148, 166, 1); */
}

.btn-primary {
  background-color: #377dff;
  color: #ffffff;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #1366ff;
}

.get-started-btn {
  width: 17.9rem;
  height: 5.7rem;
  border-radius: 1rem;
  background-color: #377dff;
  font-weight: 600;
  font-size: 2rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  padding-top: 12.4rem;
  padding-bottom: 12.4rem;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 10.8rem;
}

.hero-heading {
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.3rem;
  width: 52.8rem;
  color: #323b4b;
  margin-bottom: 3.4rem;
}

.hero-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  width: 46.6rem;
  color: #8a94a6;
  margin-bottom: 3.6rem;
}

.hero-img-wrapper {
  position: relative;
}

.button-play {
  position: absolute;
  top: 4.6rem;
  left: 4.4rem;
  cursor: pointer;
}

.hero-img {
  width: 60.4rem;
  height: 61.6rem;
  color: #8a94a6;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
}

.hero-cta {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #377dff;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* Our Offer Section */

.offer-section {
  background-color: #fafbfc;
  padding: 10.8rem 0;
}

.offer-heading {
  font-weight: 700;
  font-size: 6rem;
  color: #323b4b;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

.offer-subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #8a94a6;
  margin: 0 auto;
  width: 81rem;
  margin-bottom: 8.1rem;
}

.offer-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 3.7rem;
}

.offer-card {
  padding: 3.2rem 3.1rem 2.9rem 3.2rem;
  background-color: #ffffff;
}

.offer-card img {
  height: 8rem;
  width: 8rem;
  margin-bottom: 2.9rem;
}

.offer-card-heading {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #323b4b;
  margin-bottom: 2.1rem;
}

.offer-card-text {
  font-weight: 500;
  font-size: 1.8rem;
  /* height: 6rem; */
  line-height: 3rem;
  color: #8a94a6;
  margin-bottom: 2.1rem;
}

/* Dream Job Section */

.dream-job-section {
  height: 90rem;
}

.dream-job {
  background-color: #ffffff;
  box-sizing: content-box;

  display: flex;
  gap: 13.8rem;
}

.dream-job-img {
  width: 60.4rem;
  height: 61.6rem;
  margin-top: 14.2rem;
  margin-bottom: 14.2rem;
  background: #b0b7c3;

  box-shadow: 0px 5rem 7.7rem rgba(176, 183, 195, 0.22);
  border-radius: 1.5rem;
}

.dream-job-heading {
  height: 22.1rem;
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.3rem;
  color: #323b4b;
  padding-top: 26.963rem;
  padding-bottom: 3.176rem;
}

.dream-job-text {
  width: 47rem;
  height: 10.2rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #8a94a6;
}

/*  Vacancy Section  */

.vacancy-section .vacancy-description {
  margin-bottom: 7.7rem;
}

.vacancy-content {
  height: 123.1rem;
  background-color: #fafbfc;
}

.vacancy-heading {
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
  color: #323b4b;
  padding-top: 10.8rem;
  margin-bottom: 3.5rem;
}

.vacancy-description {
  width: 76.9rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 35px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 7.8rem;
  color: #8a94a6;
}

.vacancy,
.vacancy-1,
.vacancy-2 {
  height: 11.5rem;
  width: 88rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 45% 30% 25%;
  align-items: center;
  background-color: #fff;
  border-radius: 1.5rem;
}

.vacancy:not(:last-child) {
  margin-bottom: 2.5rem;
}

.vacancy-1 {
  margin-bottom: 2.5rem;
  box-shadow: 0rem 5rem 7.7rem rgba(176, 183, 195, 0.22);
}

.vacancy-2 {
  margin-bottom: 9.2rem;
}

.vacancy-categories {
  width: 88rem;
  font-weight: 600;
  font-size: 2.4rem;
  padding: 0 3.2rem;
  margin: 2rem auto;
  color: #323b4b;

  display: grid;
  grid-template-columns: 45% 30% 25%;
  align-items: center;
}

.vacancy-positions {
  font-weight: 600;
  font-size: 2rem;
  height: 2.4rem;
  color: #323b4b;
}

.vacancy-text {
  font-weight: 500;
  font-size: 2rem;
  color: #8a94a6;
}

.btn-secondary {
  background-color: #e5f1ff;
  color: #377dff;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #c4d4f3;
}

.btn-resume {
  height: 6.6rem;
  font-weight: 600;
  font-size: 2rem;
  background-color: #e5f1ff;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  padding: 0 10.3rem;

  display: block;
  margin: 0 auto;
}

.btn-vacancy {
  padding-bottom: 12.5rem;
}

/*  Footer Section  */

.footer-content {
  padding-top: 14.7rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 9.6rem;
}

.logo-column {
  flex: 0 0 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.8rem;
}

.footer-logo {
  height: 4.4rem;
  width: auto;
}

.footer-logo-heading {
  width: 28rem;
  height: 11rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #8a94a6;
}

.smedia-logos {
  align-self: stretch;
  display: flex;
  gap: 2.5rem;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}

.nav-footer ul {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.footer-nav-heading {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #323b4b;
}

.nav-footer-link {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #8a94a6;
}

.copyright {
  height: 2.2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #8a94a6;
  padding-bottom: 14.3rem;
}
