/* Header */

.header {
  height: 13.3rem;
  background-color: #fff;
}

.header-context {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 18.2rem;
  height: 5.4rem;
  padding-top: 3.9rem;
  padding-bottom: 4rem;
}

.main-nav {
  display: flex;
  gap: 2.4rem;
}

.main-nav a {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  height: 2.4rem;
  color: #8a94a6;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  padding-top: 5.2rem;
  padding-bottom: 5.7rem;
}

.main-nav a img {
  width: 1.2rem;
  height: 0.6rem;
  padding-top: 6.3rem;
  padding-bottom: 6.4rem;
  /* border: 0.2rem rgba(138, 148, 166, 1); */
}

.btn-primary {
  background-color: #377dff;
  color: #ffffff;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #1366ff;
}

.get-started-btn {
  width: 17.9rem;
  height: 5.7rem;
  border-radius: 1rem;
  background-color: #377dff;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  padding: 0 3.4rem;
  margin-top: 1.6rem;
  margin-bottom: 1.7rem;
  gap: 3.4rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Hero Section */

.hero-content {
  padding-top: 10.8rem;
  padding-bottom: 10.8rem;
  font-style: normal;

  display: flex;
  gap: 10.8rem;
}

.hero-heading {
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.3rem;
  width: 52.8rem;
  height: 21.9rem;
  padding-top: 21.663rem;
  /* padding-bottom: 42.837rem; */
  color: #323b4b;
}

.hero-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  width: 46.6rem;
  height: 10.1rem;
  color: #8a94a6;
}

.hero-img {
  width: 60.4rem;
  height: 61.6rem;
  color: #8a94a6;
  background: #c4c4c4;
  /* margin-top: 12.4rem; */
  /* padding-top: 12.4rem;
  padding-bottom: 12.4rem; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
}
